/* Basic Reset */
* { margin: 0; padding: 0; 
  box-sizing: border-box; 
  background: black;
  color:#FED50D;
}

body {
  font-family: "Roboto Mono", monospace;
  line-height: 1.5;
  background-repeat: no-repeat;
  background-position: center center; 
  margin: 0;
  /*border: 3px solid rgb(51, 255, 0);*/
  cursor: url('img/_precision_32x32_white.png') 20 20, auto;
}
/* Force links + buttons to use the same cursor as body */
a,
button,
input,
textarea,
select {
   text-decoration: none !important;
  cursor: inherit;
}
/* Change cursor to white when hovering interactive elements */
a:hover,
button:hover,
input:hover,
textarea:hover,
select:hover {
  cursor: url('img/_precision_32x32_white.png') 16 16, auto;
}
#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;       /* send behind all content */
}
	#sourceText{
	display:none;} 

.container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  padding: 1rem;
}
header {
  color: #000000;
  padding: 1rem 0;
   text-align: center;
   border: 3px solid rgb(255, 0, 200);
  
}
header h1 {
  font-family: "Press Start 2P", system-ui;
  margin-bottom: 0.5rem;

}

nav a {
  font-family: "Roboto Mono", monospace;

  margin-right: 1rem;
  text-decoration: none;
}
 
nav a:hover {
  text-decoration: underline;
}

main {
  font-weight: 800; 
  border: 3px solid rgb(106, 0, 255);
  height:825px;
}

.nav-container{
  padding: .75rem 0 ;
  width: 30%;
  height: 10%;
  margin: auto;


}

main nav{
  font-size: 1rem;
  font-family: "Roboto Mono", monospace;
  text-align: center;
}

.nav-container p{
 font-size: 1.1rem;
 margin: 0;
}


.horizontal-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 700px;        /* adjust length as needed */
  margin: auto;   /* centers on page */
}

.line {
   flex-grow: 1;        /* stretch between diamonds */
  height: 3px;         /* line thickness */
  background-color: black;
}

.diamond {
  display: flex;
  width: 10px;
  height: 10px;
  background-color: black;
  transform: rotate(45deg); /* turns square into diamond */
}

.top {
  align-self: center;
}

.bottom {
  align-self: center;
}

button:hover {
  background: #0056b3;
}

ul {
  list-style: circle;   /* removes bullet points */
  list-style-position: outside;
  padding-left: 20px; /* reduce space from container */
  margin-left: 0;     /* optional */
}

footer {
  text-align: center;
  color: #fff;
  margin-top: 2rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #0000003a;
    border: 3px solid rgb(255, 0, 0);
 
}


