/* Basic Reset */
* { margin: 0; padding: 0; 
  box-sizing: border-box; 
}



body {
  font-family: "Roboto Mono", monospace;
  line-height: 1.5;
  color: #222;

  background-image: linear-gradient(to right, #FACB22, #F83600);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
  background-attachment: fixed;
  background-size: cover;
  margin: 0;



  border: 3px solid rgb(51, 255, 0);
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  padding: 1rem;

  
  border: 2px solid red;
}

header {
  color: #000000;
  padding: 1rem 0;
   text-align: center;
   border: 3px solid rgb(255, 0, 200);
  
}

header h1 {
  font-family: "Press Start 2P", system-ui;
  margin-bottom: 0.5rem;

}

nav a {
  font-family: "Roboto Mono", monospace;
  color: #000000;
  margin-right: 1rem;
  text-decoration: none;
}
 
nav a:hover {
  text-decoration: underline;
}

main {
  font-weight: 800; 
  
 
  border: 3px solid rgb(106, 0, 255);
}

.nav-container{
  padding: .75rem 0 ;
  width: 30%;
  height: 10%;
  margin: auto;


}

main nav{
  font-size: 1rem;
  font-family: "Roboto Mono", monospace;
  text-align: center;
}

.nav-container p{
 font-size: 1.1rem;
 margin: 0;
}


.horizontal-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 700px;        /* adjust length as needed */
  margin: auto;   /* centers on page */
}

.line {
   flex-grow: 1;        /* stretch between diamonds */
  height: 3px;         /* line thickness */
  background-color: black;
}

.diamond {
  display: flex;
  width: 10px;
  height: 10px;
  background-color: black;
  transform: rotate(45deg); /* turns square into diamond */
}

.top {
  align-self: center;
}

.bottom {
  align-self: center;
}

button {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

footer {
  text-align: center;
  
  color: #fff;
  margin-top: 2rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #000000d3;
  border: 3px solid rgb(25, 0, 255);
}


